[submodule "pack/plugins/opt/gitsigns.nvim"]
	path = pack/plugins/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/plugins/opt/mason.nvim"]
	path = pack/plugins/opt/mason.nvim
	url = https://github.com/mason-org/mason.nvim.git
[submodule "pack/plugins/opt/keystone.nvim"]
	path = pack/plugins/opt/keystone.nvim
	url = https://github.com/mbfoss/keystone.nvim.git
[submodule "pack/plugins/opt/flash.nvim"]
	path = pack/plugins/opt/flash.nvim
	url = https://github.com/folke/flash.nvim.git
[submodule "pack/plugins/opt/osv.nvim"]
	path = pack/plugins/opt/osv.nvim
	url = https://github.com/jbyuki/one-small-step-for-vimkind.git
[submodule "pack/plugins/opt/tomltasks.nvim"]
	path = pack/plugins/opt/tomltasks.nvim
	url = https://github.com/mbfoss/tomltasks.nvim.git
[submodule "pack/plugins/opt/gittools.nvim"]
	path = pack/plugins/opt/gittools.nvim
	url = https://github.com/mbfoss/gittools.nvim.git
[submodule "pack/plugins/opt/claudecode.nvim"]
	path = pack/plugins/opt/claudecode.nvim
	url = https://github.com/mbfoss/claudecode.nvim.git
[submodule "pack/plugins/opt/cmake.nvim"]
	path = pack/plugins/opt/cmake.nvim
	url = https://github.com/mbfoss/cmake.nvim.git
[submodule "pack/plugins/opt/ezdap.nvim"]
	path = pack/plugins/opt/ezdap.nvim
	url = https://github.com/mbfoss/ezdap.nvim.git
[submodule "pack/plugins/opt/ezpick.nvim"]
	path = pack/plugins/opt/ezpick.nvim
	url = https://github.com/mbfoss/ezpick.nvim.git
[submodule "pack/plugins/opt/dock.nvim"]
	path = pack/plugins/opt/dock.nvim
	url = https://github.com/mbfoss/dock.nvim.git
[submodule "pack/plugins/opt/greplace.nvim"]
	path = pack/plugins/opt/greplace.nvim
	url = https://github.com/mbfoss/greplace.nvim.git
[submodule "pack/plugins/opt/ezdap-adapters.nvim"]
	path = pack/plugins/opt/ezdap-adapters.nvim
	url = https://github.com/mbfoss/ezdap-adapters.nvim.git
[submodule "pack/plugins/opt/annotate.nvim"]
	path = pack/plugins/opt/annotate.nvim
	url = https://github.com/mbfoss/annotate.nvim
