[submodule "pack/plugins/opt/lualine.nvim"]
	path = pack/plugins/opt/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/plugins/opt/mini.nvim"]
	path = pack/plugins/opt/mini.nvim
	url = https://github.com/nvim-mini/mini.nvim.git
[submodule "pack/plugins/opt/which-key.nvim"]
	path = pack/plugins/opt/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "pack/plugins/opt/gitsigns.nvim"]
	path = pack/plugins/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/plugins/opt/mason.nvim"]
	path = pack/plugins/opt/mason.nvim
	url = https://github.com/mason-org/mason.nvim.git
[submodule "pack/plugins/opt/loop.nvim"]
	path = pack/plugins/opt/loop.nvim
	url = https://codeberg.org/loop-nvim/loop.nvim.git
[submodule "pack/plugins/opt/loop-build.nvim"]
	path = pack/plugins/opt/loop-build.nvim
	url = https://codeberg.org/loop-nvim/loop-build.nvim.git
[submodule "pack/plugins/opt/loop-cmake.nvim"]
	path = pack/plugins/opt/loop-cmake.nvim
	url = https://codeberg.org/loop-nvim/loop-cmake.nvim.git
[submodule "pack/plugins/opt/loop-debug.nvim"]
	path = pack/plugins/opt/loop-debug.nvim
	url = https://codeberg.org/loop-nvim/loop-debug.nvim.git
[submodule "pack/plugins/opt/loop-marks.nvim"]
	path = pack/plugins/opt/loop-marks.nvim
	url =https://codeberg.org/loop-nvim/loop-marks.nvim.git 
[submodule "pack/plugins/opt/keystone.nvim"]
	path = pack/plugins/opt/keystone.nvim
	url = https://github.com/mbfoss/keystone.nvim.git
[submodule "pack/plugins/opt/flash.nvim"]
	path = pack/plugins/opt/flash.nvim
	url = https://github.com/folke/flash.nvim.git
[submodule "pack/plugins/opt/osv.nvim"]
	path = pack/plugins/opt/osv.nvim
	url = https://github.com/jbyuki/one-small-step-for-vimkind.git
[submodule "pack/plugins/opt/oil.nvim"]
	path = pack/plugins/opt/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "pack/plugins/opt/easytasks.nvim"]
	path = pack/plugins/opt/easytasks.nvim
	url = https://github.com/mbfoss/easytasks.nvim.git
[submodule "pack/plugins/opt/easytasks-build.nvim"]
	path = pack/plugins/opt/easytasks-build.nvim
	url = https://github.com/mbfoss/easytasks-build.nvim.git
[submodule "pack/plugins/opt/easytasks-debug.nvim"]
	path = pack/plugins/opt/easytasks-debug.nvim
	url = https://github.com/mbfoss/easytasks-debug.nvim.git
[submodule "pack/plugins/opt/nvtoolkit.nvim"]
	path = pack/plugins/opt/nvtoolkit.nvim
	url = https://github.com/mbfoss/nvtoolkit.nvim.git
[submodule "pack/plugins/opt/tomltools.nvim"]
	path = pack/plugins/opt/tomltools.nvim
	url = https://github.com/mbfoss/tomltools.nvim.git
[submodule "pack/plugins/opt/snacks.nvim"]
	path = pack/plugins/opt/snacks.nvim
	url = https://github.com/mbfoss/snacks.nvim.git
[submodule "pack/plugins/opt/claudecode.nvim"]
	path = pack/plugins/opt/claudecode.nvim
	url = https://github.com/coder/claudecode.nvim.git
